.big {
    background: red ;
    position: fixed;
    width: 400px;
    height: 300px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.firs {
    background: blue ;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 250px;
}
.second {
    background: blue ;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px;
}